body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 1px;
  overflow-x: hidden;
}
header{
width:100%;
height: 50px;
position: relative;
background-size: cover;
background-position: center;  
}
/*.navbar{
position: absolute;
top: 12px;
left: 2%;
right: 2%;
display: flex;
justify-content: space-around;
padding: 1px;
background-color: rgba(166, 166, 166, 70%);
border-radius: 10px;
height:30px;
width: 95%;
}
.navbar li {
font-weight: 800;
color: black;
font-size: 18px;
padding: 2px;
list-style: none;
}
.navbar li:hover{
color: blue;
background-color: white;
border-radius: 10px;
width: 90px;


.slidebar {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 16/6;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;

  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.slider::-webkit-scrollbar {
  display: none; 
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}


.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: #535353;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  background-color: #fff;

  opacity: 0.5;
}

.catg{
display: flex;
position: relative;
justify-content: space-around;
}
.category{
width: 180px;
height: 180px;
background-color: darkgray;
border-radius: 50%;
text-align: center;
font-weight: 800;
font-size: 18px;
margin-bottom: 15px;
}
.category span {
background-color: rgba(0, 0, 0, 90%);
color: #fff;
padding: 4px 25px;
border-radius: 5px;
}
.category img {
padding-bottom: 5px;
width: 180px;
height: 180px;
border-radius: 50%;
transition: 0.3s ease-in-out;
overflow: hidden;
}
.category img:hover{
filter: blur(4px);
}
/*.featured{
left: 2%;
display: flex;
position: relative;
justify-content: space-between;
}
.restaurant-grid {
margin-bottom: 60px;
display: grid;
grid-template-columns: repeat(4, 1fr);
gap:15px;
}
.restaurant {
width: 190px;
height: 100%;
background: #f9f9f9;
padding: 1rem;
text-align: center;
border: 1px solid #d7cece92;
border-radius: 5px;
}
#f{
margin-left: 28px;
display: inline-block;
background-color: rgba(0, 0, 0, 90%);
color: #fff;
padding: 5px 10px;
border-radius: 5px;
}
.heart{
color: rgba(0, 0, 0, 25%);
font-size: 40px;
}
.heart:hover{
color: rgba(0, 0, 0, 0.550);
}
.heart:active{
color: red;
}
.restaurant img {
width: 100%;
height: auto;
border-radius: 5px;
}
#h{
margin-left: 28px;
display: inline-block;
background-color: rgba(0, 0, 0, 90%);
color: #fff;
padding: 5px 10px;
border-radius: 5px;
}
#i{
margin-left: 28px;
display: inline-block;
background-color: rgba(0, 0, 0, 90%);
color: #fff;
padding: 5px 10px;
border-radius: 5px;
}*/
.img-fluid.rounded-start{
  height: 100%; 
  object-fit: cover;
  width: 100%;
}
.card-img-top {
  height: 250px; 
  object-fit: cover;
  width: 100%;
}

.ads{
left: 2%;
display: flex;
justify-content: space-between;
}
.ads img{
width: 30%;
height: auto;
border-radius: 20px;
}
footer {
text-align: center;
background: #528585;
background: linear-gradient(to bottom, #528585 85%, #000000 15%);
}
a i {
  color: rgb(255, 255, 255);
  transition: transform 0.5s ease;
}
a:hover i {
  color:black;
  animation: pulse 1s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.card-footer.text-body-secondary{
  font-weight: 600;
  position: relative; top: 5px;
  font-size: 20px;
  color: #fff;
}
.card-footer.text-body-secondary:hover{
  color: #FFD700;
}
.btn-up{
  font-weight: 500;
  font-size: 20px;
  text-decoration:none;
  background-color: blue;
  border-radius: 10px;
  padding: 8px;
  color: rgb(0, 0, 0);
  transition: transform 0.5s ease;
}
.btn-up:hover{
  background-color: white;
}
#progress-bar {
  height: 30px; 
  width: 30%;
}
.progress.is-small.is-danger {
  background-color: #5b4d4d; 
}
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.notification.is-primary.is-light{
  position: fixed;
  top: 20%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 50%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.columns.is-mobile{
  background-color: #FFD700;
  width: 20px;
  height: 50px;
}